.wrapper {
  display: flex;
}
.wrapper-column {
  display: flex;
  flex-direction: column;
}
.wrapper > div {
  font-size: 4vh;
  color: white;
  background: hotpink;
  margin: .1em;
  padding: .3em;
  border-radius: 3px;
  flex: 1;
}
.wrapper .wrapper > div {
  background: pink;
  color: hotpink;
}

.introduction{
  background: white;
}

.title{
  font-size: 60px;
}