.contact{
  .title{
    font-size: 30px;
    margin:0;
    h2 {
      margin: 0;
    }
  }
  div{
    margin:0;
  }
  p{
    font-size: 25px;
  }
  .container-git {
    display: flex;
    align-content: center;
  }
  .container-linked {
    margin-top: 0.2em;
    display: flex;
  }
  .username{
    display: flex;
    align-content: center;
    margin-left: 0.5em;
    font-size: 25px;
  }
  a:hover{
    color: #30b85b;
  }
}